.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  >span {
    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      background-image: url('../img/header.jpg');
      background-repeat: no-repeat;

      color: $white;
      font-family: $font3;
      text-align: center;
      font-weight: bold;
      text-shadow: 0px 0px 6px rgb(0, 0, 0);

      font-size: 30px;
      background-size: 200vh;

      @media (min-width: 999px) {
        font-size: 222%;
      }

      @media (min-width: 1333px) {
        font-size: 333%;
        background-size: 100vw;
      }
    }

    line-height: 1.4rem;

    color: $white_t1;
    text-align: justify;
    padding: 2px 6px;


    @media (min-width: 666px) {
      padding: 6px 10%;
    }

    @media (min-width: 999px) {}

    @media (min-width: 1515px) {
      padding: 12px 20%;
      font-size: 160%;
      line-height: 2.4rem;
    }
  }
}