$black: hsl(0, 0%, 5%);
$black_t1: hsla(0, 0%, 5%, 0.7);
$white: hsl(0, 0%, 95%);
$white_t1: hsla(00, 0%, 95%, 0.7);
$white_t2: hsla(00, 0%, 95%, 0.4);
$white_t: hsla(00, 0%, 95%, 0);
$gold: hsl(50, 90%, 50%);
$gold_t1: hsla(50, 90%, 50%, 0.7);
$green: hsl(84, 50%, 50%);
$green_t1: hsla(84, 50%, 50%, 0.7);
$purple: hsl(287, 33%, 49%);
$purple_t1: hsla(287, 33%, 49%, 0.7);

$font1: 'Roboto', sans-serif;
$font2: 'Henny Penny';
$font3: 'Pattaya';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

  font-family: $font1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;

  img.bg-img {
    position: fixed;
    z-index: -1000;

    height: 100%;
    width: 100%;

    object-fit: cover;
  }

  .pages {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;

    .page {
      position: relative;
      bottom: 120px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 66px;
      top: 0;

      .item {
        background-color: $black_t1;
        backdrop-filter: blur(10px);

        &:has(.faq) {
          background-color: transparent;
          backdrop-filter: unset;
        }
      }
    }
  }
}