$cc1: #0D0D0D;
$cc1t: hsla(0, 0%, 5%, .7);
$cc2: #F2F2F2;
$cc2t: hsla(00, 0%, 95%, .7);
$cc3: #F2CC0F;
$cc4: #8CBF3F;
$cc4t: hsla(84, 50%, 50%, 0.8);
$cc5: #9453A6;

$br1: 1000px;

$fs1: 120%;
$fs2: 140%;
$fs3: 160%;

$font1: 'Roboto', sans-serif;
$font2: 'Henny Penny';
$font3: 'Pattaya';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

  font-family: $font1;
}

body {
  img.bg-img {
    position: fixed;
    z-index: -1000;

    height: 100%;
    width: 100%;

    object-fit: cover;
  }

  .pages {
    height: 200vh;
    margin: 0 auto;

    @media (min-width: 1500px) {
      width: 1480px;
    }

    @media (min-width: 1500px) {
      width: 1480px;
    }

    @media (min-width: 2000px) {
      width: 1800px;
    }

    .page {
      .item {
        border-radius: 20px;
        background-color: $cc2t;
        backdrop-filter: blur(10px);
        margin: 6px;

        @media (min-width: 1500px) {
          margin: 20px;
        }
      }
    }
  }
}