$cc1: #0D0D0D;
$cc1t: hsla(0, 0%, 5%, .7);
$cc2: #F2F2F2;
$cc2t: hsla(00, 0%, 95%, .7);
$cc2tt: hsla(00, 0%, 95%, 0);
$cc3: #F2CC0F;
$cc4: #8CBF3F;
$cc4t: hsla(84, 50%, 50%, 0.7);
$cc5: #9453A6;

$br1: 280px;

$font1: 'Roboto', sans-serif;
$font2: 'Henny Penny';
$font3: 'Pattaya';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */

  font-family: $font1;
}

body {
  img.bg-img {
    position: fixed;
    z-index: -1000;

    height: 100%;
    width: 100%;

    object-fit: cover;
  }

  .pages {
    .page {
      .item {
        background-color: $cc1t;
        backdrop-filter: blur(10px);

        @media (min-width:999px) {
          margin-bottom: 20px;
        }

        @media (min-width:1234px) {
          margin-bottom: 60px;
        }
      }
    }
  }
}