.sponsers {
  padding: 10px;

  >span {
    display: block;
    padding: 12px;
    letter-spacing: .3rem;
    color: $white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;

    @media (min-width: 999px) {
      font-size: 4rem;
    }
  }

  >.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;

    max-width: 1500px;
    margin: 0 auto;

    >.card {
      position: relative;
      background-color: gray;

      border-radius: 16px;
      overflow: hidden;

      &:hover {
        transform: scale(1.1);
        transition: transform 100ms ease-in;

        >img {
          opacity: .5;
          transition: opacity 100ms ease-in;
        }

      }

      >img {
        width: 100%;
        height: 100%;

        position: relative;

        @media (min-width: 300px) {
          width: 300px;
        }
      }

      >.popup {
        display: none;
        opacity: 0;
        transition: opacity 1s ease-in-out;
      }

      &:hover {
        .popup {
          position: fixed;
          display: flex;
          opacity: 1;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;

          color: $white;
          background-color: $black_t1;
          text-align: center;

          >span {
            padding: 16px;
            text-shadow: 1px 1px 1px $black;

            &:first-of-type {
              font-size: 1.4em;
              font-weight: 900;
            }

            &:last-of-type {
              font-size: 1em;
              font-weight: 300;
              letter-spacing: 1px;
              line-height: 1.3;
            }
          }

          >div {
            display: flex;
            align-items: flex-end;
            gap: 1em;
            padding: 20px;

            button {
              border: unset;
              cursor: pointer;
              width: 50px;
              height: 50px;

              background-color: $white_t1;
              box-shadow: inset 0 0 8px 4px $black_t1;
              border-radius: 50%;

              transition-property:
                transform,
                background-size,
                background-color,
                box-shadow;
              transition-duration: 80ms;
              transition-timing-function: linear;

              &:hover {
                transform: scale(1.05);
                background-size: 28px;
                box-shadow: inset 0 0 0 0 $black_t1;
              }

              background-size: 32px;
              background-repeat: no-repeat;
              background-position:center;

              &.website {
                background-image: url(../img/icons/website.png);
              }

              &.facebook {
                background-image: url(../img/icons/facebook.png);
              }

              &.twitter {
                background-image: url(../img/icons/twitter.png);
              }

              &.instagram {
                background-image: url(../img/icons/instagram.png);
              }
            }
          }
        }
      }
    }
  }
}